
.header{
 width: 100%;
 background: #C4C4C4;
 height: 100px;
}

.main_word{
	font-size:300%;
	margin-left: 15%;
	padding-top: 28px;
}
.word1{
	padding-top: 90px;
	padding-left:120px;
	font-size:300%;
}
/*.parent{
	margin-left: 15.28%;
    
}*/
.child {
    background: #E5E5E5;
    border: outset black;
    padding: 10px;
    float: left;
    width: 555px;
	height: 500px;
    margin-left: 15%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.child:last-child {
    margin-right: 0;
	margin-left: 0%;
	background: #9DB270;
}
.child2:first-child{
	margin-top: 1%;
	text-align: center;
	font-size: 250%;
}
.child2{
	margin-top: 5%;
	margin-left: 4%;
	font-size: 220%;
	float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.child2:last-child{
	margin-right: 0;
}
button{
	width:367px;
	height: 150px;
	margin-left:94px;
	margin-top: 118px;
	background: #9DB270;
	border: outset black;
}
.word2{
	font-size:330%;
}
.decision {
    background: #E5E5E5;
    border: outset black;
    padding: 10px;
    float: left;
    width: 1110px;
	height: 1000px;
    margin-left: 15%;
	margin-top: 75px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.foot{
	width: 100%;
 	background: #C4C4C4;
 	height: 160px;
	padding: 10px;
    float: left;
	margin-top: 75px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.creators{
	font-size:200%;
	margin-top: 50px;
	margin-left: 14.5%;
}